<div class="catalog-filter" >
    <div class="catalog-filter__header">
        <div class="catalog-filter-header-title">
            <span class="catalog-filter-header-title__text">Фильтры</span>
        </div>

        <button class="catalog-filter-reset-all">
            <span class="catalog-filter-reset-all__text">сбросить все</span>
        </button>
    </div>

    <div class="catalog-filter__body">
        <div class="catalog-section-filter-list" data-group="filter-box">
            <div class="catalog-section-filter-list-item">
                <div class="catalog-filter-box" data-container="filter-box">
                    <div class="catalog-filter-title" data-button="filter-title">
                        <span class="catalog-filter-title__indicator" data-indicator="filter-title-indicator"></span>

                        <span class="catalog-filter-title__text">Диаметр, мм</span>
                    </div>

                    <div class="catalog-filter-box__dropdown" data-box="filter-selected-list">
                        <ul class="catalog-filter-list">
                            <li class="catalog-filter-item">
                                <span class="catalog-filter-link">
                                    <span class="catalog-filter-link__text">25.5.er</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="catalog-section-filter-list-item">
                <div class="catalog-filter-box" data-container="filter-box">
                    <div class="catalog-filter-title" data-button="filter-title">
                        <span class="catalog-filter-title__indicator" data-indicator="filter-title-indicator"></span>

                        <span class="catalog-filter-title__text">Диаметр</span>
                    </div>

                    <div class="catalog-filter-box__dropdown" data-box="filter-selected-list">
                        <ul class="catalog-filter-list">
                            <li class="catalog-filter-item">
                                <span class="catalog-filter-link">
                                    <span class="catalog-filter-link__text">25.5.er</span>
                                </span>
                            </li>

                            <li class="catalog-filter-item">
                                <span class="catalog-filter-link">
                                    <span class="catalog-filter-link__text">25.5.er</span>
                                </span>
                            </li>

                            <li class="catalog-filter-item">
                                <span class="catalog-filter-link">
                                    <span class="catalog-filter-link__text">25.5.er</span>
                                </span>
                            </li>

                            <li class="catalog-filter-item">
                                <span class="catalog-filter-link">
                                    <span class="catalog-filter-link__text">25.5.er</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="catalog-section-filter-list-item">
                <div class="catalog-filter-box" data-container="filter-box">
                    <div class="catalog-filter-title" data-button="filter-title">
                        <span class="catalog-filter-title__indicator" data-indicator="filter-title-indicator"></span>

                        <span class="catalog-filter-title__text">Производитель</span>
                    </div>
                    <div class="catalog-filter-box__dropdown" data-box="filter-selected-list">
                        <ul class="catalog-filter-list">
                            <li class="catalog-filter-item">
                                <span class="catalog-filter-link">
                                    <span class="catalog-filter-link__text">25.5.er</span>
                                </span>
                            </li>

                            <li class="catalog-filter-item">
                                <span class="catalog-filter-link">
                                    <span class="catalog-filter-link__text">28.er</span>
                                </span>
                            </li>

                            <li class="catalog-filter-item">
                                <span class="catalog-filter-link">
                                    <span class="catalog-filter-link__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, laborum.</span>
                                </span>
                            </li>

                            <li class="catalog-filter-item">
                                <span class="catalog-filter-link">
                                    <span class="catalog-filter-link__text">28.er</span>
                                </span>
                            </li>

                            <li class="catalog-filter-item">
                                <span class="catalog-filter-link">
                                    <span class="catalog-filter-link__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores dolore fuga laudantium obcaecati rem rerum soluta sunt tempore vel!</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>
