<div class="CatalogBlockLeft_bottom__1yWrD">
    <div class="CatalogFilter_filter__2jTLY">
        <div class="CatalogFilter_header__1jF1U">
            <div class="CatalogFilter_title__2Ka8P">
                <span class="CatalogFilter_text__3iAM3">Фильтры</span>
            </div>

            <button class="CatalogFilter_reset__ZpoJM">
                <span class="CatalogFilter_text__3iAM3">сбросить все</span>
            </button>
        </div>

        <div class="CatalogFilter_body__17COT">
            <div>
                <ul class="catalog-section-filter-list">
                    <li class="catalog-section-filter-list-item">
                        <div class="catalog-filter-box">
                            <div class="catalog-filter-title"><span
                                    class="catalog-filter-title__text">Диаметр, мм</span>
                            </div>
                            <ul class="catalog-filter-selected-list">
                                <li class="catalog-filter-selected-item"><span
                                        class="catalog-filter-selected-link"><span
                                        class="catalog-filter-selected-link__text">25.5.er</span>
                                                </span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="catalog-section-filter-list-item">
                        <div class="catalog-filter-box">
                            <div class="catalog-filter-title"><span
                                    class="catalog-filter-title__text">Диаметр</span>
                            </div>
                        </div>
                    </li>
                    <li class="catalog-section-filter-list-item">
                        <div class="catalog-filter-box">
                            <div class="catalog-filter-title active">
                                <span class="catalog-filter-title__text">Производитель</span>
                            </div>

                            <ul class="catalog-filter-list">
                                <li class="catalog-filter-item">
                                                    <span class="catalog-filter-link">
                                                        <span class="catalog-filter-link__text">25.5.er</span>
                                                    </span>
                                </li>

                                <li class="catalog-filter-selected-item">
                                                    <span class="catalog-filter-selected-link">
                                                        <span class="catalog-filter-selected-link__text">28.er</span>
                                                    </span>
                                </li>

                                <li class="catalog-filter-selected-item">
                                                    <span class="catalog-filter-selected-link">
                                                        <span class="catalog-filter-selected-link__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, laborum.</span>
                                                    </span>
                                </li>

                                <li class="catalog-filter-selected-item">
                                                    <span class="catalog-filter-selected-link">
                                                        <span class="catalog-filter-selected-link__text">28.er</span>
                                                    </span>
                                </li>

                                <li class="catalog-filter-selected-item">
                                                    <span class="catalog-filter-selected-link">
                                                        <span class="catalog-filter-selected-link__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores dolore fuga laudantium obcaecati rem rerum soluta sunt tempore vel!</span>
                                                    </span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>