<form action="#" class="search-form voicesearchContainer">
    <div class="historyGmButton">История</div>

    <button class="search_button">Искать</button>

    <div class="input-row">
        <input type="search" class="inpsearchgm1" placeholder="Введите поисковый запрос" />

        <span class="close-inp clear_form" data-section_id="15510"></span>

        <div class="srs__lang"></div>
    </div>

    <div class="drop-history deskgmhist" style="display:none;">
        <ul>
            <li>радиатора</li>
            <li>Перчатки</li>
            <li>Перчатки</li>
            <li>радиатора</li>
            <li>Радиатор отопителя</li>
            <li>помпа</li>
            <li>Амортизатор передний</li>
            <li>Стартер ВАЗ 2101</li>
            <li>Генератор ВАЗ 2110</li>
            <li>Генератор ВАЗ</li>
            <li>шрус наружный 1102</li>
            <li>фильтр</li>
            <li>фильтр</li>
            <li>старт</li>
            <li>старт</li>
            <li>старт</li>
            <li>Стартер Daewoo</li>
            <li>Стартер</li>
            <li>Стартер</li>
            <li>Стартер</li>

        </ul>
    </div>

    <div id="voiceSearchBtn" title="Нажми - говори - отпусти"></div>
</form>