.catalog-container {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  min-height: 200px;

  &__search {
    flex-shrink: 0;
  }

  &__goods {
    flex: 1 1;
    display: flex;
    height: calc(100% - 34px);
  }
}