.catalog-container {
  height: 450px;
  display: flex;
  flex-direction: column;

  &__search {
    flex-shrink: 0;
  }

  &__goods {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
  }
}