.holder-frame {
  position: relative;
  padding: 5px 0;
  width: 98%;
  margin: 0 auto;

  @media (max-width:1525px) {
    padding: 5px 15px;
  }

  @media (max-width:939px) {
    display:none;
  }

  &:after {
    content:"";
    display: block;
    clear: both;
  }
}