@import "var";
@import "button-common";

.catalog-order {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $c-gray-8;
  padding: 0 6px 5px;

  &-container {
    position: relative;
    z-index: 0;
    flex: 1 1;
    min-height: 1px;
  }

  &-tabs {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid $c-gray-1;
    padding: 6px;
  }

  &-panel {
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 47px;
    margin: 0 0 -1px;

    &__button-left {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex: 1 1;
    }

    &__button-right {
      display: flex;
      align-items: flex-start;
      padding: 0 0 5px;
      flex: 0 0;
    }
  }

  &-description {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &-goods {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 10px 0 10px 10px;

      &-panel {
        flex-shrink: 0;
        padding: 0 20px 0 0;

        &__hold {
          display: flex;
          width: 100%;
          border-bottom: 1px solid ;
        }
      }

      &__tabs {
        flex-grow: 1;
        overflow-y: auto;
      }
    }
  }

  &-table-description {
    width: 100%;
    border-collapse: collapse;

    &-wrapper {
      padding: 0 20px 0 0;
    }

    &__row {
      &:first-child {
        & td {
          border-top: 0;
        }
      }
    }

    &__cell {
      height: 29px;
      border: 1px solid ;
      padding: 0 8px;
      vertical-align: middle;
      font-size: 11px;
      color: $c-text-main;
      font-family: $f-l;

      &:first-child {
        width: 182px;
        background: #FCFCFC;
      }

      &_name {
        font-size: 13px;
      }
    }
  }

  &-block {
    display: flex;
    align-items: center;
  }
}

.catalog-order-button {
  @extend %button-common;
  position: relative;
  height: 25px;
  line-height: 17px;
  font-size: 11px;
  background: $c-gray-1;
  border: 1px solid $c-gray-1;
  border-bottom: 0;
  color: #fff;
  border-radius: 2px 2px 0 0;
  margin: 0 3px 0 0;
  padding: 0 20px;

  @media (hover:hover) {
    &:hover {
      background: $c-gray-6;
    }
  }

  &.active {
    background: #fff;
    color: $c-text-gray-dark;

    & .catalog-order-button-remove {
      display: flex !important;
    }

    &:hover {
      @media (hover:hover) {
        background: #fff;
        color: $c-text-gray-dark;
      }
    }
  }

  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    &__item {
      flex-shrink: 0;
    }
  }

  &-remove {
    @extend %button-common;
    display: none !important;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 25px;
    width: 20px;
    background: transparent;
    border: 0;
    padding: 0;

    @media (hover:hover) {
      &:hover {
        & svg path {
          fill: $c-red;
        }
      }
    }

    &__ico {
      display: block;

      & path {
        fill: $c-text-gray-dark;
        transition: .15s;
      }
    }
  }

  &-description {
    @extend %button-common;
    position: relative;
    height: 25px;
    line-height: 17px;
    font-size: 11px;
    background: $c-gray-1;
    color: #fff;
    border-radius: 2px 2px 0 0;
    margin: 0 3px 0 0;
    padding: 0 20px;
    border-top: 1px solid $c-gray-1;
    border-left: 1px solid $c-gray-1;
    border-right: 1px solid $c-gray-1;
    border-bottom: 0;

    &:hover {
      @media (hover:hover) {
        background: $c-gray-2;
        border-color: $c-gray-2;
      }
    }

    &.active {
      background: #fff;
      border-color: $c-gray-1;
      color: $c-text-main;

      &:hover {
        @media (hover:hover) {
          background: #fff;
          border-color: $c-gray-1;
          color: $c-text-main;
        }
      }
    }
  }

  &-export {
    @extend %button-common;
    border: 1px solid #207245;
    border-radius: 2px;
    height: 24px;
    width: 28px;
    display: block;
    padding: 0 5px;
    background: transparent;
    margin: 0 0 0 7px;

    &:hover {
      @media (hover:hover) {
        border-width: 2px;
        padding: 0 4px;
      }
    }

    &__ico {
      display: block;
    }
  }

  &-import {
    @extend %button-common;
    margin: 0 8px 0 0;
    border-color: #207245;
    background: #207245;
    padding: 0 5px;

    &:hover {
      @media (hover:hover) {
        border-color: #10522E;
        background: #10522E;
      }
    }

    &__ico {
      display: block;
    }
  }

  &-make-order {
    @extend %button-common;
    background: $c-blue;
    border: 0;
    border-radius: 2px;
    height: 28px;
    padding: 0 15px;
    color: #fff;
    font-size: 14px;

    &:hover {
      @media (hover:hover) {
        background: $c-blue-dark;
      }
    }

    &__ico {
      margin: 0 8px 0 0;
    }
  }

  &-create-order {
    @extend %button-common;
    position: relative;
    border: 0;
    height: 25px;
    line-height: 17px;
    background: $c-gray-1;
    color: #fff;
    border-radius: 2px 2px 0 0;
    margin: 0 3px 0 0;
    flex-shrink: 0;
    width: 25px;
    font-size: 20px;
    padding: 0;

    &:hover {
      @media (hover:hover) {
        background: $c-gray-2;
      }
    }
  }
}