@import "var";

$bg-row: $c-gray-4;

.table-body {
  width: 100%;
  position: relative;
  z-index: 0;
  margin: -1px 0 0;
  padding: 0 10px 0 0;
  flex: 1 1;
  min-height: 1px;

  &_first {
    & .table-row {
      &:nth-child(odd) {
        background: $bg-row;
      }

      @media (hover: hover) {
        &:hover {
          & .table-cell {
            cursor: pointer;
            background: $c-gray-11;
          }
        }
      }

      &.active {
        & .table-cell {
          background: $c-orange-light;
        }
      }
    }
  }

  &_second {
    & .table-row {
      &:nth-child(even) {
        background: $bg-row;
      }

      @media (hover: hover) {
        &:hover {
          & .table-cell {
            cursor: pointer;
            background: $c-gray-11;
          }
        }
      }

      &.active {
        & .table-cell {
          background: $c-orange-light;
        }
      }
    }
  }

  &__inner {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
  }
}