$c-red: #E30613;
$c-gray-1: #d0d1d1;
$c-gray-2: #B3B3B3;
$c-gray-3: #666;
$c-gray-4: #fcfcfc;
$c-gray-5: #E1E1E1;
$c-gray-6: #aaa;
$c-gray-7: #545454;
$c-gray-8: #f1f1f1;
$c-gray-9: #999999;
$c-gray-10: #c6c6c6;
$c-gray-11: #eaeaea;
$c-blue: #344E9F;
$c-blue-dark: #122a74;
$c-blue-light: #F2F5FF;
$c-green: #038100;
$c-black: #333;
$c-dark: #545454;

//$f-l: "lucida regular", sans-serif;
$f-l: 'lucida_sans_unicoderegular', sans-serif;

$c-border: #d0d1d1;
$c-bg-title-card: $c-red;
$c-available: $c-green;
$c-not-available: $c-gray-3;
$c-property: $c-blue;
$c-text-main: $c-black;
$c-text-gray-dark: $c-gray-7;
$c-text-gray: $c-gray-9;